* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* setting the root font size to 10px. It makes it really easy to make stuff responsive :D */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

h5 {
  font-weight: 700;
}

a {
  color: unset;
  text-decoration: none;
  font-weight: 700;
}

ol {
  list-style: inside;
  list-style-type: decimal;
}

tr,
td {
  height: auto;
  min-height: 2rem;
}

/* header styles */
.header {
  margin-bottom: 4rem;
}

.header-img {
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
}

.page-title {
  padding: 0 10%;
  font-size: 4rem;
}

/* section styles */
.section {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.section-title,
.toc-title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}
.description-box {
  margin: 1.5rem 0;
}

/* getting started and toc styles */
.description-title,
.link {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.link {
  display: flex;
}

.list-of-contents,
.deep-list-of-contents,
.deeper-list-of-contents {
  list-style: none;
}

.list-item-count {
  margin-right: 4rem;
}

.deep-list-item a {
  font-weight: 400;
}

.deep-list-item-count {
  margin-right: 6rem;
}

.deeper-list-item-count {
  margin-right: 8rem;
}

.dotted-space {
  flex: 2;
  border-bottom: 4px dotted black;
  position: relative;
  bottom: 0.4rem;
  margin: 0 0.2rem;
}

/* spaces between counts and names */
.part-count,
.table-no {
  margin-right: 6rem;
}

.figure-no {
  margin-right: 4.5rem;
}

.note-title {
  margin-right: 7rem;
}
.part-count {
  width: 4rem;
  display: inline-block;
}

/* sub section styles */
.section-part {
  margin-bottom: 4rem;
}

.section-part-description {
  margin: 1.5rem 0;
}

/* table styles */

.table-container {
  overflow-y: auto;
}

.table-title {
  margin-bottom: 0.5rem;
}

.table {
  width: 100%;
  line-height: 2.5rem;
}
.table th {
  text-align: left;
}
th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}
table {
  border-collapse: collapse;
}

.left-cell {
  border-left: none;
}
.right-cell {
  border-right: none;
}

/* images style */
.figure-container {
  width: 100%;
  border: 1px solid black;
}
.figure {
  display: block;
  width: 90%;
  margin: auto;
}

.figure-caption {
  margin: 0.5rem 0;
}

/* note styles */
.notes {
  display: flex;
  margin: 3rem 0;
}

.note-title,
.note-full,
.italic {
  font-style: italic;
}
/* this is utility class */
.italic {
  word-break: break-all;
}

/* debug methods lists styles */
.method-list {
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.method-name {
  margin-left: 2rem;
}

.debugging-list {
  list-style: none;
}

.debug-step,
.debug-step-info {
  margin: 1.5rem 0 2rem 0;
}

.debug-step {
  display: flex;
}
.debug-step-text {
  margin-left: 2rem;
}

/* troubleshoot section styles */
.error-message,
.error-fix {
  margin: 1.5rem 0;
}

.troubleshooting-methods,
.keypoints-list {
  margin-left: 1.8rem;
  line-height: 2.5rem;
  margin-top: 1rem;
}

/* reference section styles */
.reference {
  margin: 1rem 0;
}

.reference-count {
  margin-right: 1.5rem;
}

/* footer styles */

.footer-wrapper {
  background-color: rgb(233, 215, 189);
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.info {
  width: 20%;
}

.publishing-info,
.document-ref {
  line-height: 2.7rem;
}

.info-part {
  margin-top: 2rem;
  font-weight: 700;
}

.notice,
.warning {
  width: 35%;
}

.notice {
  margin-left: 5rem;
}

.notice-para,
.warning-para {
  text-align: justify;
}

.para-spaced {
  margin-top: 1.5rem;
}

.notice-para5 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.warning-title,
.notice-title {
  text-transform: uppercase;
}

/* utility styles */

.mb-4 {
  margin-bottom: 4rem;
}

.bold {
  font-weight: 700;
}

.blue-links {
  color: cornflowerblue;
}

/* media queries */
@media only screen and (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1160px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 950px) {
  .page-title {
    padding: 0 2rem;
  }
  .section {
    width: 100%;
    padding: 3rem 2rem;
  }
  .table-2-note > p {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 780px) {
  .info,
  .notice,
  .warning {
    width: 100%;
  }
  .notice {
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 376px) {
  html {
    font-size: 40%;
  }
}
